body
{
	background-color:gray;
	background-image: url('Images/background.png');
	font-family: Helvetica, Arial, sans-serif;
	color: White;
}

a
{
	color: Yellow;
}

img
{
	border: none;
}


.page
{
	position: relative;
	width: 90%;
	margin: 1em auto;
	font-size: large;
}

.header
{
	font-family: 'Wendy One', Trebuchet MS, Helvetica, Arial, sans-serif;
	padding-bottom: 13px;
	border-bottom: solid 2px Yellow;
	margin-bottom: 30px;
}
.header a
{
	text-decoration: none;	
}

.headerText
{
	position: absolute;
	top: -3px;
	left: 95px;
	letter-spacing: 0.15em;
	color: White;
	font-size: 55px;
}

.socialLinks
{
	position: absolute;
	top: 15px;
	left: 600px;
}

.socialLinks img
{
  height: 32px;
}

.home
{
	font-size: 20px;
	position: absolute;
	right: 0px;
	top: 0px;
}

h1
{
	font-family: Trebuchet MS;
	color: White;
	font-size: 40px;
	text-align: center;
}

h2
{
	font-family: Forte;
	margin: 0 auto;
	color: White;
	font-size: xx-large;
}
