body
{
	background-image: url('../Images/background.png');
	font-family: Helvetica, Arial, sans-serif;
	color: White;
}

a
{
	color: yellow;
}

img
{
	border: none;
}


.page
{
	background-color: red;
	position: relative;
	width: 90%;
	margin: 1em auto;
	font-size: large;
}

.header
{
	font-family: Arial, sans-serif;
	padding: 13px;
	border-bottom: solid 2px Yellow;
	margin: 30px;
	background-color: yellow; 
	color: blue; 
	font-size: x-large; 
	font-weight: bold;
	text-align: center;
}

.headerText
{
	color: blue;
	font-size: 55px;
}

h1
{
	font-family: Trebuchet MS;
	color: White;
	font-size: 40px;
	text-align: center;
}

h2
{
	font-family: Forte;
	margin: 0 auto;
	color: White;
	font-size: xx-large;
}

.contactMe 
{
	position:relative;
	text-align: center;
}

.contactMe a
{
	color: White;
	font-size: x-large;
	font-weight: bold;
}


